.btn-refresh {
  background-color: #ffb300;
  border: none;
  color: #000;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-refresh:hover {
  background-color: #ffd54f;
}

.btn-read {
  color: #43a047;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-read:hover {
  text-decoration: underline;
}
