/* order.css */
.main-content.order-page .section-header h2 {
  color: #ffbf00;
}

.main-content.order-page .btn-export {
  background-color: #00e676;
  color: #fff;
}

.main-content.order-page .status.success {
  background-color: #4caf50;
}

.main-content.order-page .status.pending {
  background-color: #ffb300;
}
