@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --bg--:#000000;
  --bg-card: #1a1a1a;
  --text-light: #ffffff;
  --text-color:#a87038;
  --text-gray: #d41a1a;
  --primary: #ee7a02;
  --success: #f1a02a;
  --danger: #b84736;
  --card--:#161412;
  --border-card--:#43301e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--text-light);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
  width: 100%;
}
/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.logo i {
  font-size: 36px;
  color: var(--primary);
}

.logo h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.logo p {
  font-size: 13px;
  color: var(--text-gray);
}

/* menu */
.menu {
  position: relative;
  top: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* mục menu */
.menu ul li {
  padding: 14px 12px;
  border-radius: 10px;
  cursor: pointer;
}

/* liên kết menu */
.menu ul li a {
  display: flex;
  align-items: center;
  gap: 18px;
  color: var(--text-light);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* icon */
.menu ul li a i {
  width: 22px;
  height: 22px;
  stroke-width: 1.8;
  color: var(--text-gray);
  transition: color 0.2s ease;
  font-size: 22px;
}

/* hover và active */
.menu ul li a:hover,
.menu ul li.active a {
  color: #000;
  transform: translateX(4px);
}

.menu ul li a:hover i,
.menu ul li.active a i {
  color: #000;
}

/* Main */
.main-content {
  flex: 1;
  padding: 30px;
  background-color: var(--bg--);
}

.header h1 {
  color: var(--primary);
  font-size: 28px;
}

.header p {
  color: var(--text-gray);
  margin-bottom: 25px;
}

/* Header */
/* ===== Header Admin ===== */
.admin-header {
  width: 100%;
  height: 64px;
  background-color: #1a1a1a;
  border-bottom: 1px solid #2a2a2a;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.admin-header h1 {
  font-size: 20px;
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 0.5px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Logo bên trái trong header */
.header-left .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1px; /* chỉnh khoảng cách logo và header top */
}

.header-left .logo img,
.header-left .logo i {
  transform: translateY(15px); /* đẩy icon/ảnh xuống nhẹ */
}

.header-left .logo h2 {
  margin-top: 25px; /* chữ LYZY Admin hạ thấp thêm chút */
  font-size: 25px;
}

/* ===== Notification Bell ===== */
.notification {
  position: relative;
  cursor: pointer;
}

.notification a {
  width: 26px;
  height: 26px;
  color: var(--text-gray);
  transition: color 0.2s ease;
}

.notification:hover a {
  color: var(--primary);
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: var(--primary);
  color: #000;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 6px;
}

/* ===== User Info ===== */
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  object-fit: cover;
}

.username {
  font-size: 15px;
  color: var(--primary);
  text-transform: uppercase;
  font-weight: 500;
}

/* ===== Logout Button ===== */
.logout-btn {
  background: var(--primary);
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.logout-btn i {
  width: 18px;
  height: 18px;
}

.logout-btn:hover {
  transform: translateY(-2px);
  color: var(--primary);
  box-shadow:
    0 6px 20px #2f2617,
    0 0 20px #2f2617;
  border: 1px solid var(--primary);
  background: transparent;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background-color: var(--bg-card);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-icon i {
  font-size: 28px;
  color: var(--primary);
  background: #2b2b2b;
  padding: 10px;
  border-radius: 50%;
}

.card-info h3 {
  font-size: 15px;
  color: var(--text-light);
}

.card-info h2 {
  font-size: 22px;
  font-weight: bold;
}

.card-info p {
  font-size: 13px;
  color: var(--success);
}

/* ========== Footer (Admin) ========== */
.admin-footer {
  width: 100%;
  background: #121212;
  color: rgba(255, 255, 255, 0.8);
  margin-top: auto; /* Đẩy xuống cuối trang */
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #2a2a2a;
}

/* ----FOOTER----*/

.footer-bottom {
  padding: 1rem 0.5rem;
}

.footer-bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer-bottom-content p {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.footer-bottom-content p:first-child {
  color: var(--primary);
  font-weight: 600;
}

/* ========== CARD STYLE UPGRADE ========== */
.card {
  background: var(--card--);
  border-radius: 10px;
  padding: 26px;
  display: flex;
  align-items: center;
  gap: 22px;
  text-transform: uppercase;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.45),
    inset 0 0 8px rgba(0, 0, 0, 0.2);

  border: 1px solid #1f1c19;
  transition: all 0.5s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 6px 20px #2f2617,
    0 0 20px #2f2617;
  border: 1px solid var(--border-card--);
}
.card:hover h3{
  color: var(--primary);
}
.card-icon i {
  font-size: 32px;
  color: #fff;
  padding: 14px;

  background: linear-gradient(135deg, #ffb84d, #ff7b00);
  border-radius: 16px;

  box-shadow:
    0 0 14px rgba(255, 140, 0, 0.45),
    inset 0 0 6px rgba(255, 255, 255, 0.15);
}

/* ========== EVENT CARD ========== */

.events {
  background: var(--card--);/*nền sk gan day*/
  border-radius: 10px;
  padding: 28px;
  margin-top: 40px;
  transition: all 0.5s ease;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.45),
    inset 0 0 8px rgba(0, 0, 0, 0.2);

  border: 1px solid #1f1c19;
}
.events:hover{
  color: var(--primary);
  transform: translateY(-4px);
  box-shadow:
    0 6px 20px #2f2617,
    0 0 20px #2f2617;
  border: 1px solid var(--border-card--);
}
.events:hover h2{
  color: var(--primary);
}
.event-card {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.event-card:hover {
  background: #211f1c;
}
.event-card:hover h3{
  color: var(--text-color);
}
.event-card:hover .event-status p{
  color: var(--primary);
}
/* ===================== STATUS BADGES ===================== active tq*/
/* .status.selling,
.status.active {
  background: linear-gradient(90deg, #680bd9, #ff7b00);
  color: #000;
  box-shadow: 0 0 10px rgba(255, 150, 0, 0.35);
}

.status.soldout,
.status.inactive {
  background: linear-gradient(90deg, #e53935, #b71c1c);
  color: #fff;
  box-shadow: 0 0 10px rgba(220, 60, 50, 0.35);
}

.status.pending {
  background: linear-gradient(90deg, #ffa726, #ff9800);
  color: #000;
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.3);
} */
/* ========== FOOTER ========== */

.admin-footer {
  background: linear-gradient(180deg, #141414, #0a0a0a);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
}

.footer-bottom-content p:first-child {
  background: linear-gradient(90deg, #ffb84d, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}



/* ========== SIDEBAR + HOVER EFFECTS ========== */

.sidebar {
  background-color: var(--card--);
  width: 260px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu ul li:hover,
.menu ul li.active {
  background: linear-gradient(90deg, #ffb84d, #ff9500);
  color: #000;
  transform: translateX(5px);
  box-shadow: 0 3px 10px rgba(255, 149, 0, 0.3);
}

.menu ul li:hover a,
.menu ul li.active a {
  color: #000; /* khi hover hoặc active thì chữ chuyển đen */
}


